h4{
    background-color:#1A5E61;
    color:white;
    text-align: center;
    margin-bottom:0px;

}
#result_user{
    color: #1A5E61;
    background-color: transparent;
}
.row{
    height:100%;
}
.no-pad{
    padding:0;
}
.topic-heading{
    padding:15px 0px;
    border-left: 1px solid whitesmoke;
}
ul{
    padding: 0;
}
.friend-list li{
    font-size:20px;
    padding:15px 15px;
    margin: 0;
    border-top: 1px solid #f2f2f2;
}
.friend-list li:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}
.clicked{
    background-color: #e9ebeb;
    border-left: 2px solid #1A5E61;
}
.chat li{
    width:auto;
    max-width:33%;
    background-color:#d2f8d2;
    margin:10px;
    border-radius:10px;
    padding:5px 7px;
}

.notifications{
    padding: 15px;
    margin: 0;
}
.notifications>li{
    border-bottom: 1px solid #e9ebeb;
    padding: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.notifications>li>div{
    margin-left: 10px;
}
.notifications>li:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}

.message-sending{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
}